@media screen and ( max-width: 1080px ) {
    .carousel {
        .prev {
            left: -15px;
        }
        .next {
            right: -15px;
        }
    }
}

@media screen and ( max-width: 970px ) {
    .container {
        padding: 0 20px;
    }
    .carousel {
        img {
            width: 700px;
        }
        .prev {
            left: 5px;
        }
        .next {
            right: 5px;
        }
    }
}

@media screen and ( max-width: 767.5px ) {
    .container {
        padding: 0 10px;
    }
    .header {
        &__logo {
            width: 225px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__phone {
            font-size: 16px;
        }
        &__button {
            width: 148px;
            height: 28px;
        }
    }
    .advantage {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 20px;
        }
    }
    .consultation {
        &__title {
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        &_form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .carousel {
        img {
            width: 100%;
        }
        button {
            display: none;
        }
    }
    .reviews {
        .reviews-item{
            display: block;
            img {
                margin: 0 auto;
            }
            &__name {
                margin-top: 10px;
                text-align: center;
            }
            &__achievement {
                text-align: center;
            }
            &__text {
                text-align: center;
            }
        }
    }
}

@media screen and ( max-width: 575px ) {
    .header {
        flex-direction: column;
        &__official {
            margin-top: 20px;
            font-size: 13px;
            span {
                font-size: 20px;
            }
        }
        &__contacts {
            margin-top: 15px;
        }
        &__phone {
            font-size: 18px;
        }
        .button {
            width: 165px;
            height: 35px;
        }
    }
    .promo {
        padding: 21px 0 30px 0;
        &__wrapper {
            margin-top: 50px;
            align-items: center;
        }
        &__title {
            text-align: center;
            font-size: 38px;
        }
        &__subtitle {
            margin-top: 10px;
            text-align: center;
            font-size: 24px;
        }
        &__icons {
            flex-direction: column;
            width: 120px;
            margin-top: 25px;
        }
        &__icon {
            margin-top: 20px;
            img {
                margin-bottom: 10px;
            }
        }
        &__button {
            margin-top: 40px;
        }
    }
    .advantage {
        padding: 40px 0 50px 0;
        &__wrapper {
            margin-top: 30px;
        }
    }
    .consultation {
        padding: 50px 0;
        &__title {
            font-size: 35px;
            line-height: 44px;
            br {
                display: none;
            }
        }
        &__descr {
            font-size: 19px;
        }
    }
    .carousel {
        padding:50px 0;
    }
    .footer {
        &__info {
            width: 100%;
        }
    }
    .overlay {
        .modal {
            width: 340px;
            padding: 20px;
            padding-top: 30px;
            &__close {
                top: 5px;
                right: 10px;
            }
        }
    }
}